@font-face {
    font-family: 'Source Code Font';
    src:url('font/SourceCodeFont.ttf.woff') format('woff'),url('font/SourceCodeFont.ttf.eot');
    font-weight: normal;
    font-style: normal;
}
